<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-input
        type="email"
        formControlName="email"
        required
        placeholder="Ingresa tu correo electrónico"
        fill="solid"
        label="Correo electrónico"
        labelPlacement="floating"
        helperText="Ingresa un correo electrónico válido"
        errorText="Por favor, ingresa un correo electrónico válido."
      ></ion-input>

      <ion-input
        type="password"
        formControlName="password"
        required
        placeholder="Ingresa tu contraseña"
        fill="solid"
        label="Contraseña"
        labelPlacement="floating"
        helperText="Ingresa una contraseña válida"
        errorText="Por favor, ingresa una contraseña válida."
      ></ion-input>

      <ion-button type="submit" [disabled]="loginForm.invalid">
        Iniciar sesión
      </ion-button>
    </form>
  </div>
</ion-content>
