<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ion-text-center">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <ion-input
        errorText="Por favor, ingresa un correo electrónico válido."
        fill="solid"
        formControlName="email"
        helperText="Ingresa un correo electrónico válido"
        label="Correo electrónico"
        labelPlacement="floating"
        placeholder="Ingresa tu correo electrónico"
        required
        type="email"
      ></ion-input>

      <ion-input
        errorText="Por favor, ingresa una contraseña válida."
        fill="solid"
        formControlName="password"
        helperText="Ingresa una contraseña válida"
        label="Contraseña"
        labelPlacement="floating"
        placeholder="Ingresa tu contraseña"
        required
        type="password"
      ></ion-input>

      <ion-button
        [disabled]="loginForm.invalid"
        color="success"
        fill="outline"
        type="submit"
      >
        Iniciar sesión
      </ion-button>
    </form>
  </div>
</ion-content>
